{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Foxy's blog</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic">
</head>
<body>
	<div class="page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>